#about {
  margin: 0px 100px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-container img {
  /* from the pumpkin picture */
  height: 450px;
  border-radius: 10%;

  width: 500px;
  object-fit: cover;
  object-position: 40%;
}

.about-text {
  margin-right: 50px;
}

.about-text p {
  margin-top: 0;
}

.about-container a {
  text-decoration: none;
  color: #05AECB;
}