#about {
  margin-left: 80px;
  margin-right: 80px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-container img {
  height: 450px;
  border-radius: 10%;
}

.about-text {
  margin-right: 50px;
}

.about-container a {
  text-decoration: none;
  color: #05AECB;
}