#contact {
  margin: 0px 100px;
}

.email-me {
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

.email-me:hover {
  transform: scale(1.1);
}

.email-me a {
  text-decoration: none;
}

.email-me p {
  color: black;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out, font-size 1s ease-in-out, font-weight 1s ease-in-out, color 1s ease-in-out;
}

.email-me:hover p {
  font-size: larger;
  font-weight: bolder;
  color: #05AECB;
}

.email-me img {
  height: 40px;
  margin-right: 10px;
  transition: filter 1s ease-in-out;
}

.email-me:hover img {
  filter: hue-rotate(0deg) brightness(0%);
}

form {
  position: relative;
  max-width: 60%;
  margin: auto;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://raw.githubusercontent.com/Shamayal/personal-website/d508bf77c84023ca13ddf3537a7d50bd4c47e2c9/src/media/Clouds-Background.svg');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  /* filter: blur(1px); */
  z-index: -1;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 70%;
}

input[type="text"]:focus ,
input[type="email"]:focus ,
textarea:focus {
  background-color: #a0f2ff;
}

button {
  background-color: #05AECB;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a0f2ff;
  color: black;
}

.contact-button {
  color: white;
  font-weight: 600;
  margin-top: 2%;
}