.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 80px;
}

.intro-content {
  flex: -1;
  position: relative;
}

.intro-content img {
  padding-top: 4em;
}

.intro-content h2 {
  position: absolute;
  top: 10%; /* Adjust this value as needed to vertically center the text */
  left: 34.9%; /* Adjust this value as needed to horizontally center the text */
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the text appears above the image */
}

.intro-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 1em;
}

.icon-container img {
  height: 60px;
  transition: filter 2s ease-out, transform 0.5s ease-out;
}

.icon-container img:hover {
  transform: scale(1.5);
  /* filter: grayscale(100%); */
  filter: hue-rotate(0deg) brightness(0%);
}

.resume-button {
  display: flex;
  justify-content: center;
  background-color: #05AECB;
  color: #FFFFFF;
  padding: 5px 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 18px;
  width: 6.5em; /* Add this property to control the width */
  margin: 1em;
  align-self: center;
  transition: background-color 2s ease-in-out, transform 0.5s ease-in-out;
}

.resume-button a {
  color: #ffffff;
  text-decoration: none;
}

.resume-button:hover {
  transform: scale(1.5); /* Increase the size on hover */
  background-color: black; /* Change the background color on hover */
  color: white; /* Add this line to change the font color on hover */
}

.resume-button h3 {
  margin: 0em; /* Remove default margin for <h3> */
  transition: color 1s ease-in-out;
}

.resume-button h3:hover {
  color: white;
}

.typewriter {
  display: flex;
  justify-content: center;
  align-self: center;
}