#projects {
  margin: 80px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border: 3px solid #05AECB;
  padding: 20px;
}

.projects-container:hover {
  box-shadow: 0 0 30px 10px #a0f2ff;
}

.projects-container > div {
  margin-right: 50px;
}

.project-pic,
.project-gif {
  border: 2px solid black;
}

.project-details {
  margin-top: 50px;
}