#projects {
  margin: 80px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border: 2px solid #a0f2ff;
  padding: 20px;
}

.projects-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-container > div {
  margin-right: 50px;
}

.project-pic,
.project-gif {
  border: 2px solid black;
}

.project-details {
  margin-top: 50px;
}