#projects {
  margin-left: 80px;
  margin-right: 80px;
}
/* 
.projects-container {
  display: flex;
  flex-direction: row;
}

.projects-container img {
  height: 500px;
  border-radius: 10%;
}

.projects-text {
  margin-right: 50px;
}

.projects-container a {
  text-decoration: none;
  color: #05AECB;
} */