#skills {
  margin: 0px 180px;
}

.filter-buttons {
  display: flex;
  justify-content: space-evenly;
}

.skills-button {
  color: white;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px
}

.skills-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 120px;
}

.skills-img {
  height: 65px;
}

.skills-font {
  margin-top: 10px;
  text-align: center;
}