#skills {
  margin: 0px 180px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 90px;
}

.skills-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: calc(25% - 220px);
  box-sizing: border-box;
}

.h2-container {
  display: flex;
  justify-content: center;
}

.h2-container h2 {
  display: inline-block;
  margin: 5px 0;
  background-color: #05AECB;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}

.skills-img {
  height: 45px;
}

.skills-font {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
}